{% extends "products/base.html" %}

{%block main%}
<form method="post">
    <h3>
    {%csrf_token%}
    <table>
        <tr>
            <td>first name : </td>
            <td><input type="text" name="register_name"></td>
        </tr>
        <tr>
            <td>last name : </td>
            <td><input type="text" name="register_last_name"></td>
        </tr>
        <tr>
            <td>email : </td>
            <td><input type="text" name="register_email"></td>
        </tr>
        <tr>
            <td>password : </td>
            <td><input type="password" name="regiser_password"></td>
        </tr>
        <tr>
            <td>confirm-password : </td>
            <td><input type="password" name="regiser_confirm_password"></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="register user"></td>
        </tr>
        <tr>
            <td colspan="2"><a href="{% url 'users' %}">log in</a></td>
        </tr>
    </table>
</h3>
</form>
{%endblock%}